<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<!-- see <vm-detail> for ajaxInProgress and ajax-{start|end} events -->
<polymer-element name="aws-vm-detail" attributes="vmid ajaxInProgress">
  <template>
    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{loadingSucceeded}}">
        <template bind ref="main">
        </template>
      </template>
    </template>

    <template id="main">
      AWS VM, vm.id {{vm.id}} / awsvm.id {{awsvm.id}}.<br>
      State: ‘{{awsvm.state}}’<br>
      Region: ‘{{awsvm.region}}’<br>
      Reservation id: ‘{{awsvm.reservation_id}}’<br>
      Instance id: ‘{{awsvm.instance_id}}’<br>
    </template>
  </template>

  <script src="aws-vm-detail.js"></script>
</polymer-element>
