<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../ajax-state/ajax-state.html">
<link rel="import" href="../error-display/error-display.html">

<polymer-element name="aws-vm-detail" attributes="vmid">
  <template>

    <ajax-state id="ajax"></ajax-state>

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{loadingSucceeded}}">
        <template bind ref="main"></template>
      </template>
    </template>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <div>
        <error-display text={{$.ajax.errorText}}></error-display>
      </div>
    </template>

    <template id="main">
      AWS VM ‘{{awsvm.name}}’.<br>
      State: ‘{{awsvm.state}}’<br>
      Region: ‘{{awsvm.region}}’<br>
      Reservation id: ‘{{awsvm.reservation_id}}’<br>
      Instance id: ‘{{awsvm.instance_id}}’<br>
      Security Group id: ‘{{awsvm.security_group_id}}’<br>
    </template>
  </template>

  <script src="aws-vm-detail.js"></script>
</polymer-element>
