<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">

<polymer-element name="aws-vm-detail" attributes="vmid">
  <template>
    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{!success}}">
        <error-display text={{errorText}}></error-display>
      </template>

      <template if="{{success}}">
        <template bind ref="main">
        </template>
      </template>
    </template>

    <template id="main">
      AWS VM, vm.id {{vm.id}} / awsvm.id {{awsvm.id}}.<br>
      Status: ‘{{awsvm.status}}’<br>
      Region: ‘{{awsvm.region}}’<br>
      Reservation id: ‘{{awsvm.reservation_id}}’<br>
      Instance id: ‘{{awsvm.instance_id}}’<br>
    </template>
  </template>

  <script src="aws-vm-detail.js"></script>
</polymer-element>
