<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<!-- see <vm-detail> for ajaxInProgress and ajax-{start|end} events -->
<polymer-element name="dummy-vm-detail" attributes="vmid ajaxInProgress">
  <template>
    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{loadingSucceeded}}">
        <template bind ref="main"></template>
      </template>
    </template>

    <template id="main">
      Dummy VM “{{dummyvm.name}}”, status “{{dummyvm.status}}”,
      powered {{dummyvm.poweredon ? 'On' : 'Off'}},
      destroyed? {{dummyvm.destroyed}}.
    </template>
  </template>

  <script src="dummy-vm-detail.js"></script>
</polymer-element>
