div#summary {
	display: flex;
	align-items: center;
}

#prov-summ {
	flex-grow: 1;
	min-width: 5em;
}

#project-name {
	flex-grow: 1;
	min-width: 5em;
	text-align: center;
}

div#audit-display {
	border: 0.1em solid black;
	padding: 0.5em;
	background-color: WhiteSmoke;
}

strong#toggle-logs, strong#toggle-power-log {
	cursor: pointer;
}

.destroyed-logo {
	color: DarkGoldenRod;
}

div#destroyed-details {
	color: DarkGoldenRod;
	font-weight: bold;
}
