:host {
	position: relative;
	display: block;
	border: 0.2em solid;
	border-color: var(--paper-amber-200);
}

paper-icon-button#expand:hover {
	color: var(--paper-amber-800);
	background: var(--paper-amber-100);
	border-radius: 50%;
}
paper-icon-button#reload:hover {
	color: var(--paper-green-700);
	background: var(--paper-light-green-50);
	border-radius: 50%;
}

div#summary {
	display: flex;
	align-items: baseline;
}
div#summary > span.vborder {
	align-self: stretch;
	border-left: 0.15em dashed var(--paper-light-blue-500);
}
span#smr-name {
	flex: 1 1;
	overflow: auto;
}
span#smr-state {
	flex: 0 0 5%;
}
span#smr-project {
	flex: 0 0 20%;
	overflow: auto;
}
span#smr-expiry {
	flex: 0 0 17%;
}
span#smr-name, span#smr-state, span#smr-project, span#smr-expiry {
	padding: 1ex;
}

span#smr-state iron-icon.destroyed {
	color: var(--paper-orange-500);
}
span#smr-state iron-icon.powered-on {
	color: var(--paper-green-500);
}
span#smr-state iron-icon.powered-off {
	color: var(--paper-red-300);
}

paper-icon-button#reboot:hover {
	color: var(--paper-amber-800);
	background: var(--paper-amber-100);
	border-radius: 50%;
}
paper-icon-button#destroy:hover {
	color: var(--paper-red-a400);
	background: var(--paper-red-100);
	border-radius: 50%;
}

div#summary:hover {
	background-color: var(--paper-light-blue-50);
}
span#smr-name:hover, span#smr-state:hover, span#smr-project:hover,
span#smr-expiry:hover {
	cursor: pointer;
}

span#smr-expiry.expires-soon {
	color: var(--paper-red-500);
}

div#details {
	padding: 1ex;
	border-top: 0.2em dashed var(--paper-amber-200);
}

div#details > h1 {
	margin: 0;
}
h1.section-toggle:hover {
	cursor: pointer;
	color: var(--paper-blue-900);
}

div#destruction-details {
	font-weight: bold;
	color: var(--paper-amber-900);
}
