<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="dummy-vm-detail.html">
<link rel="import" href="dummy-vm-summary.html">
<link rel="import" href="aws-vm-detail.html">
<link rel="import" href="aws-vm-summary.html">
<link rel="import" href="vm-schedule-picker.html">
<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../ajax-state/ajax-state.html">

<polymer-element name="vm-detail" attributes="vmid initiallyExpanded">
  <template>
    <link rel="stylesheet" type="text/css" href="vm-detail.css">

    <ajax-state id="ajax"></ajax-state>

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{loadingSucceeded}}">
        <template bind ref="vm"></template>
      </template>
    </template>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <div>
        <error-display text={{$.ajax.errorText}}></error-display>
      </div>
    </template>

    <template id="vm">
      <template bind ref="vm-summary"></template>
      <template if="{{expanded}}">
        <template bind ref="vm-expanded"></template>
      </template>
    </template>

    <template id="vm-summary">
      <div id="summary">
        <paper-button id="expand" on-click="{{toggleExpanded}}" raised
          title="{{expanded ? 'Collapse' : 'Expand'}}">
          <core-icon icon="{{expanded ? 'expand-less' : 'expand-more'}}">
          </core-icon>
        </paper-button>

        <paper-button id="reload" on-click="{{reload}}" raised
          title="Refresh" disabled?="{{$.ajax.inProgress}}">
          <core-icon icon="refresh"></core-icon>
        </paper-button>

        <div id="prov-summ">
          <template bind ref="provider-specific-summary"></template>
        </div>

        <span id="project-name">{{project.name}}</span>

        <paper-button id="reboot" on-click="{{reboot}}" raised
          title="Reboot" disabled?="{{$.ajax.inProgress}}">
          <core-icon icon="rotate-left"></core-icon>
        </paper-button>
        <paper-button id="destroy" on-click="{{destroy}}" raised
          title="Destroy" disabled?="{{$.ajax.inProgress}}">
          <core-icon icon="delete"></core-icon>
        </paper-button>
      </div>
    </template>

    <template id="provider-specific-summary">
      <template if="{{provider.type == 'dummy'}}">
        <dummy-vm-summary vmid="{{vmid}}"></dummy-vm-summary>
      </template>

      <template if="{{provider.type == 'aws'}}">
        <aws-vm-summary vmid="{{vmid}}"></aws-vm-summary>
      </template>

      <template if="{{provider.type != 'dummy' && provider.type != 'aws'}}">
        <error-display
          text="{{'Unknown vm provider type: “' + provider.type + '”'}}">
        </error-display>
      </template>
    </template>

    <template id="vm-expanded">
      <template if="{{provider.type == 'dummy'}}">
        <dummy-vm-detail vmid="{{vmid}}">
        </dummy-vm-detail>
      </template>

      <template if="{{provider.type == 'aws'}}">
        <aws-vm-detail vmid="{{vmid}}"></aws-vm-detail>
      </template>

      <template if="{{provider.type != 'dummy' && provider.type != 'aws'}}">
        <error-display
          text="{{'Unknown vm provider type: “' + provider.type + '”'}}">
        </error-display>
      </template>

      <div>
        <vm-schedule-picker vmid="{{vmid}}"></vm-schedule-picker>
      </div>
      <template bind ref="schedule-override"></template>
      <template bind ref="audit"></template>
    </template>

    <template id="schedule-override">
      <div id="schedule-override">
        <template if="{{vm.sched_override_state == null}}">
          No override in effect.
        </template>
        <template if="{{vm.sched_override_state != null}}">
          Overridden to Powered
          {{vm.sched_override_state == true ? 'ON' : 'OFF'}}
          until {{tstampToString(vm.sched_override_tstamp)}}.
          <button on-click="{{overrideClear}}">Clear override</button>
        </template>
        <br>
        Keep
        <paper-dropdown-menu selected="{{overrideSchedState}}" valueattr="key"
          disabled?="{{$.ajax.inProgress}}"
          on-core-select="{{overrideSchedStateSelected}}">
          <paper-item label="Powered ON" key="on"></paper-item>
          <paper-item label="Powered OFF" key="off"></paper-item>
        </paper-dropdown-menu>
        for
        <input type="number" value="{{overrideSchedMins}}"
          disabled?="{{$.ajax.inProgress}}"> min
        <button on-click="{{overrideSet}}" disabled?="{{$.ajax.inProgress}}">
          Set override
        </button>
      </div>
    </template>

    <template id="audit">
      <div id="audit">
        <button type="button" on-click="{{toggleShowLogs}}">
          <template if="{{!showLogs}}">Show logs</template>
          <template if="{{showLogs}}">Hide logs</template>
        </button>
        <template if="{{showLogs}}">
          <div id="audit-display">
            <audit-display vmid="{{vmid}}"></audit-display>
          </div>
        </template>
      </div>
    </template>
  </template>

  <script src="vm-detail.js"></script>
</polymer-element>
