<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../ajax-state/ajax-state.html">

<polymer-element name="vm-schedule-picker" attributes="vmid">
  <template>
    <link rel="stylesheet" type="text/css" href="vm-schedule-picker.css">

    <ajax-state id="ajax"></ajax-state>

    <template if="{{loading}}">
      Loading…
    </template>
    <template if="{{!loading && loadingSucceeded}}">
      <template bind ref="main"></template>
    </template>
    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <error-display text={{$.ajax.errorText}}></error-display>
    </template>

    <template id="main">
      Schedule
      <paper-dropdown-menu disabled?="{{$.ajax.inProgress}}">
        <paper-dropdown class="dropdown">
          <core-menu class="menu" selected="{{newSchedIdx}}">
            <template repeat="{{s in schedules}}">
              <paper-item>{{s.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>

      <paper-button id="save" raised on-click={{save}}
          disabled?="{{$.ajax.inProgress}}"
          class="{{ {highlight: newSchedId != vm.schedule} | tokenList }}">
        <core-icon icon="save"></core-icon>
        Save
      </paper-button>
    </template>
  </template>

  <script src="vm-schedule-picker.js"></script>
</polymer-element>
