:host {
	display: block;
	position: relative;
}

paper-icon-button#reload:hover {
	color: var(--paper-green-700);
	background: var(--paper-light-green-50);
	border-radius: 50%;
}

paper-icon-button#extend {
	color: var(--paper-amber-900);
}
paper-icon-button#extend:hover {
	background: var(--paper-amber-100);
	border-radius: 50%;
}

paper-dialog#dialog {
	position: absolute;
}
