<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../vm-detail/vm-detail.html">

<polymer-element name="vm-list" attributes="vmids frag">
  <template>
    <link rel="stylesheet" type="text/css" href="vm-list.css">

    <ul class="vm-list"
      on-vm-expanded="{{vmExpanded}}" on-vm-collapsed="{{vmCollapsed}}">
      <template repeat="{{vmid in vmids}}">
        <li>
          <vm-detail vmid="{{vmid}}" initiallyExpanded="{{vmid == frag}}">
          </vm-detail>
        </li>
      </template>
    </ul>
  </template>

  <script src="vm-list.js"></script>
</polymer-element>
