ul.vm-list {
	list-style-type: none;
	padding-left: 0;
}

ul.vm-list li {
	padding: 0.5em;
	border: LightSlateGray 0.15em solid;
}
ul.vm-list li + li {
	margin-top: 0.5em;
}
ul.vm-list li:nth-child(even) {
	background-color: Azure;
}
ul.vm-list li:nth-child(odd) {
	background-color: Ivory;
}
