:host {
	display: block;
}

div#top-bar {
	display: flex;
	align-items: center;
}
div#top-content {
	flex-grow: 1;
}

div#top-content > h1:hover {
	cursor: pointer;
	color: var(--paper-blue-900);
}

paper-icon-button#reload:hover {
	color: var(--paper-green-700);
	background: var(--paper-light-green-50);
	border-radius: 50%;
}

div#table-head {
	display: flex;
	padding: 1ex;
	border: 0.2em solid transparent;
}
div#table-head > span.vborder {
	align-self: stretch;
	border-left: 0.15em dashed var(--paper-light-blue-500);
}

span#name {
	flex: 1 1;
}
span#state {
	flex: 0 0 5%;
}
span#project {
	flex: 0 0 20%;
}
span#expiry-date {
	flex: 0 0 17%;
}

span#name, span#state, span#project, span#expiry-date {
	/* center the label and the sort-icon vertically */
	display: flex;
	align-items: center;

	padding: 1ex;
	cursor: pointer;
}
span#name:hover, span#state:hover, span#project:hover, span#expiry-date:hover {
	background-color: var(--paper-blue-50);
}

div#table-head span.label {
	/* put the sort icon at the right edge */
	flex-grow: 1;
}

/* Dummy buttons to align to table header with the vm rows */
paper-icon-button#vm-expand,
paper-icon-button#vm-refresh,
paper-icon-button#vm-reboot,
paper-icon-button#vm-destroy {
	visibility: hidden;
}

div#table-head span.ordering-selected {
	font-weight: bold;
}

vm-detail + vm-detail {
	border-top: 0;
}
