<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../show-count/show-count.html">

<!--
  n may be negative

  <human-size n="150000" unit="s" multiples="[
    {n: 60, name:'m'},
    {n:60, name:'h'},
    {n:24, name:'day', sayplural: true},
    {n:7, name:'week', sayplural: true}
  ]"></human-size>
  x weeks x days x h x m x s
  Zero items are skipped:
  1 week 3 h 7 m
  5 m
  0 s

  <human-size n="-7045" unit="meter" sayplural="{{true}}" multiples="[…]">…</…>
-->

<polymer-element name="human-size" attributes="n unit sayplural multiples">
  <template><!--
    -->{{n < 0 ? '-' : ''}}<!--
    --><template repeat="{{x, idx in displayItems}}"><!--
      --><template if="{{idx && idx < displayItems.length-1}}">,
      </template><!--

      --><template if="{{idx && idx == displayItems.length-1}}">
        and
      </template><!--

      --><template if="{{x.sayplural}}"><!--
        --><show-count n="{{x.n}}" name="{{x.name}}"></show-count><!--
      --></template><!--

      --><template if="{{!x.sayplural}}"><!--
        -->{{x.n}} {{x.name}}<!--
      --></template><!--
    --></template><!--
  --></template>

  <script src="human-size.js"></script>
</polymer-element>
