<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<polymer-element name="create-vm-aws-data" attributes="data">
  <template>
    <paper-input label="Name (VM Tag)" floatingLabel="true"
      value="{{data.name_tag}}">
    </paper-input>

    <label for="region">Region:</label>
    <paper-dropdown-menu id="region" selected="{{data.region}}" valueattr="label"
      on-core-select="{{regionSelected}}">
      <template repeat="{{r in regions}}">
        <paper-item label="{{r}}"></paper-item>
      </template>
    </paper-dropdown-menu>
  </template>

  <script src="create-vm-aws-data.js"></script>
</polymer-element>
