#create.highlight {
	background: ForestGreen;
	color: white;
}

#create:hover {
	background: MediumSeaGreen;
	color: white;
}

#create::shadow #ripple {
	color: blue;
}

#container {
	border: 0.15em solid khaki;
	padding: 0.5em;
}

#close {
	color: DarkGray;
	font-size: 2em;
	float: right;
	cursor: pointer;
}
#close:hover {
	color: DimGray;
}
