<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../ajax-state/ajax-state.html">
<link rel="import" href="create-vm-dummy-data.html">
<link rel="import" href="create-vm-aws-data.html">

<polymer-element name="create-vm" attributes="initialProjectId">
  <template>
    <link rel="stylesheet" type="text/css" href="create-vm.css">

    <ajax-state id="ajax"></ajax-state>

    <div id="container">
      <template if="{{loading}}">
        Loading…
      </template>

      <template if="{{!loading}}">
        <template if="{{!loadingSucceeded}}">
          <error-display text="{{$.ajax.errorText}}"></error-display>
        </template>

        <template if="{{loadingSucceeded}}">
          <template bind ref="main">
          </template>
        </template>
      </template>
    </div>

    <template id="main">
      <h1>Create a VM</h1>
      <label for="project">Project:</label>
      <paper-dropdown-menu id="project" label="Select a project…">
        <paper-dropdown class="dropdown">
          <core-menu class="menu" selected="{{prjIdx}}">
            <template repeat="{{p in projects}}">
              <paper-item>{{p.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
      <br>

      <label for="provider">Provider:</label>
      <paper-dropdown-menu id="provider" label="Select a provider…">
        <paper-dropdown class="dropdown">
          <core-menu class="menu" selected="{{provIdx}}">
            <template repeat="{{p in providers}}">
              <paper-item>{{p.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
      <br>

      <label for="vmconfig">VM Configuration:</label>
      <paper-dropdown-menu id="vmconfig" label="Select a VM configuration…">
        <paper-dropdown class="dropdown">
          <core-menu class="menu" selected="{{shownConfsIdx}}">
            <template repeat="{{c in shownConfs}}">
              <paper-item>{{c.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
      <br>

      <label for="schedule">Schedule:</label>
      <paper-dropdown-menu id="schedule" label="Select a schedule…">
        <paper-dropdown class="dropdown">
          <core-menu class="menu" selected="{{scheduleIdx}}">
            <template repeat="{{s in schedules}}">
              <paper-item>{{s.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>

      <br>

      <template if="{{newVMType == 'dummy'}}">
        <create-vm-dummy-data data="{{newVMData}}">
        </create-vm-dummy-data>
      </template>

      <template if="{{newVMType == 'aws'}}">
        <create-vm-aws-data data="{{newVMData}}">
        </create-vm-aws-data>
      </template>

      <br>

      <template if="{{newVMType != null && newVMType != 'dummy' && newVMType != 'aws'}}">
        <error-display text="Unknown VM Type “{{newVMType}}”."></error-display>
        <br>
      </template>

      <paper-button id="create" raised
        class="{{ {highlight: highlightCreateBtn} | tokenList }}"
        on-click="{{createVM}}" disabled="{{$.ajax.inProgress}}">
          <core-icon icon="create"></core-icon>
          Create VM
      </paper-button>
      <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
          <error-display text="{{$.ajax.errorText}}"></error-display>
      </template>
    </template>
  </template>

  <script src="create-vm.js"></script>
</polymer-element>
