<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="/static/bower_components/paper-input/paper-input.html">

<dom-module id="create-vm-dummy-data">
  <template>
    <paper-input
      value="{{data.name}}"
      label="Name"
      required
      ></paper-input>
    <paper-input
      value="{{data.delay}}"
      label="Delay (seconds before turning on)"
      type="number"
      required
      ></paper-input>
  </template>
</dom-module>

<script src="create-vm-dummy-data.js"></script>
