<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">
<link rel="import" href="../ajax-state/ajax-state.html">
<link rel="import" href="../expiration-item/expiration-item.html">

<link rel="import" href="new-aws-rule.html">
<link rel="import" href="display-aws-rule.html">

<polymer-element name="firewall-rules" attributes="vmid">
  <template>
    <link rel="stylesheet" type="text/css" href="/static/vimma/components/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <ajax-state id="ajax"></ajax-state>
    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{loadingSucceeded}}">
        <template bind ref="main"></template>
      </template>
    </template>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <error-display text={{$.ajax.errorText}}></error-display>
    </template>

    <template id="main">
      <template bind ref="compose"></template>
      <table>
        <tbody>
          <template repeat="{{firewallRules}}">
            <tr>
              <td>
                <display-aws-rule ruleid="{{id}}"></display-aws-rule>
              </td>
              <td>
                <button type="button" on-click="{{deleteRule}}"
                  class="btn btn-danger" disabled?="{{$.ajax.inProgress}}">
                  Delete
                </button>
              </td>
              <td>
                <expiration-item expid="{{extra_expiration}}"></expiration-item>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </template>

    <template id="compose">
      <div>
        <template if="{{!showComposer}}">
          <button type="button" on-click="{{toggleComposer}}"
            class="btn btn-primary" disabled?="{{$.ajax.inProgress}}">
            + Add Rule
          </button>
        </template>

        <template if="{{showComposer}}">
          <template if="{{vmProvider.type == 'aws'}}">
            <new-aws-rule data="{{newRuleData}}"></new-aws-rule>
          </template>

          <template if="{{vmProvider.type != 'aws'}}">
            Unknown provider type {{vmProvider.type}}.
          </template>

          <button type="button" on-click="{{createRule}}"
            class="btn btn-primary" disabled?="{{$.ajax.inProgress}}">
            Create
          </button>
          <button type="button" on-click="{{toggleComposer}}"
            class="btn" disabled?="{{$.ajax.inProgress}}">
            Cancel
          </button>
        </template>
      </div>
    </template>
  </template>

  <script src="firewall-rules.js"></script>
</polymer-element>
