<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<polymer-element name="new-aws-rule" attributes="data">
  <template>
    <table>
      <thead>
        <tr>
          <th>IP Protocol</th>
          <th>Port Range Start</th>
          <th>Port Range End</th>
          <th>CIDR IP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select on-change="{{protoChanged}}">
              <template repeat="{{awsFirewallRuleProtocolChoices}}">
                <option value="{{value}}">{{label}}</option>
              </template>
            </select>
          </td>
          <td><input type="number" value="{{data.from_port}}"></td>
          <td><input type="number" value="{{data.to_port}}"></td>
          <td><input value="{{data.cidr_ip}}"></td>
        </tr>
      </tbody>
    </table>
  </template>

  <script src="new-aws-rule.js"></script>
</polymer-element>
