/* Common stylesheet included by each component who wants to use it. */

plain-text.error {
	background-color: Pink;
}
plain-text.error.toggles:hover {
	background-color: HotPink;
}

/* Override Chromium's user agent stylesheet */
input, textarea, keygen, select, button {
	font-family: Roboto;
}
