/env/
__pycache__/
/vimmasite/vimma/static/vimma/components/bower_components/

/vimmasite/local_settings.py

/vimmasite/db.sqlite3

# Don't store migrations during initial development
vimmasite/vimma/migrations/0*.py
