/env/
__pycache__/
/vimmasite/vimma/static/vimma/components/bower_components/

/vimmasite/local_settings.py

/vimmasite/db.sqlite3
/vimmasite/db.sqlite3-journal

# Don't store migrations during initial development
vimmasite/vimma/migrations/0*.py

/vimma.log*

/celerybeat.pid
/celerybeat-schedule.db

/.vagrant/
/vimmasite/static/
