BeautifulSoup==3.2.1
Django==1.6.1
Mako==0.9.1
MarkupSafe==0.18
PyYAML==3.10
South==0.8.4
UgliPyJS==0.2.4
amqp==1.4.1
anyjson==0.3.3
assetgen==0.3.7
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.13
boto==2.25.0
celery==3.1.7
django-celery==3.1.1
django-stronghold==0.2.4
ipaddr==2.1.10
kombu==3.0.9
psycopg2==2.5.2
pytz==2013.9
requests==2.2.0
simplejson==3.3.2
tavutil==1.0.2
tornado==3.2
wsgiref==0.1.2
