:host {
	display: block;
	position: relative;
}

paper-button#reload {
	color: var(--paper-green-800);
}

paper-icon-button#save.unsaved {
	color: var(--paper-amber-900);
}
paper-icon-button#save.unsaved:hover {
	background: var(--paper-amber-100);
	border-radius: 50%;
}
