<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="error-display" attributes="text size">
  <template>
    <link rel="stylesheet" type="text/css" href="error-display.css">

    <div id="box" on-click="{{toggle}}"
      class="{{ { trims: needsTrimming } | tokenList }}"
      title="{{ needsTrimming && collapsed ? 'Expand' : (needsTrimming && !collapsed ? 'Collapse' : '') }}"
      >{{needsTrimming && collapsed ? trimmedText : text}}</div>
  </template>

  <script src="error-display.js"></script>
</polymer-element>
