<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../local-date/local-date.html">
<link rel="import" href="../plain-text/plain-text.html">
<link rel="import" href="../show-count/show-count.html">
<link rel="import" href="../vm-data-model/vm-data-model.html">
<link rel="import" href="../vm-detail/vm-detail.html">

<dom-module id="vm-list">
<link rel="import" type="css" href="../../css/component-common.css">
<link rel="import" type="css" href="vm-list.css">
<template>

  <iron-ajax
    auto
    id="vmAjax"
    url="/api/vms/1/"
    last-response="{{vmData}}">
  </iron-ajax>
  <div>{{vmData}}</div>

  <iron-ajax
    id="projectAjax"
    last-response="{{projectData}}">
  </iron-ajax>
  <div>proj:<!-- -->{{projectData.name}}</div>

  <div id="top-bar">
    <div id="top-content">
      <h1 on-click="_toggle" title="Expand/Collapse">
        <iron-icon icon="[[_headingIcon]]"></iron-icon>
        <span>[[_sortedVms.length]]<!-- --> <span>[[_sayTopBarOne(destroyed)]]</span></span>
      </h1>
    </div>

    <paper-icon-button
       id="reload"
       icon="refresh"
       title="Refresh"
       on-click="reload">
    </paper-icon-button>
  </div>

  <plain-text class="error" text="[[_error]]"></plain-text>

  <div id="table-head">
    <!-- Dummy buttons to align the table header with the vm rows -->
    <paper-icon-button></paper-icon-button>
    <paper-icon-button></paper-icon-button>

    <span class="vborder"></span>

    <span id="name" on-click="_sortByName" class$="[[_nameClass]]">
      <span class="label">Name</span>
      <iron-icon icon="[[_nameSortIcon]]" hidden$="[[!_nameSortIcon]]">
      </iron-icon>
    </span>

    <span class="vborder"></span>

    <span id="state"
      title="Power state"
      on-click="_sortByState"
      class$="[[_stateClass]]">
      <iron-icon icon="power-settings-new"></iron-icon>
      <span class="label"></span> <!-- spacer -->
      <iron-icon icon="[[_stateSortIcon]]" hidden$="[[!_stateSortIcon]]">
      </iron-icon>
    </span>

    <span class="vborder"></span>

    <span id="project" on-click="_sortByProject" class$="[[_projectClass]]">
      <span class="label">Project</span>
      <iron-icon icon="[[_projectSortIcon]]" hidden$="[[!_projectSortIcon]]">
      </iron-icon>
    </span>

    <span class="vborder"></span>

    <span id="expiry-date" on-click="_sortByExpiry" class$="[[_expiryClass]]">
      <span class="label">Expiry date</span>
      <iron-icon icon="[[_expirySortIcon]]" hidden$="[[!_expirySortIcon)]]">
      </iron-icon>
    </span>

    <span class="vborder"></span>

    <paper-icon-button
      id="vm-reboot"
      icon="power-settings-new">
    </paper-icon-button>
    <paper-icon-button
      id="vm-destroy"
      icon="delete">
    </paper-icon-button>
  </div>

  <template is="dom-repeat" items="[[_sortedVms]]">
    <vm-detail
      vmid="[[item.vm.id]]"
      on-vm-expanded="_vmExpanded"
      on-vm-collapsed="_vmCollapsed">
    </vm-detail>
  </template>

</template>
</dom-module>

<script src="vm-list.js"></script>
