<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="../create-vm/create-vm.html">
<link rel="import" href="../vm-list/vm-list.html">

<dom-module id="vms-tab">
  <link rel="import" type="css" href="vms-tab.css">

  <template>
    <create-vm on-vm-created="_vmCreated"></create-vm>

    <template is="dom-repeat" items="[[providers]]">
      <h2>[[item]]</h2>
      <vm-list id="list_alive" name="[[item]]" expanded></vm-list>
    </template>

  </template>
</dom-module>

<script src="vms-tab.js"></script>
