<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show-count</title>

    <script src="../../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <link rel="import" href="../plain-text.html">
  </head>

  <body>
    <plain-text id="full" text="Hi" size="10"></plain-text>
    <plain-text id="trimmed" text="Hello World!" size="8"></plain-text>

    <script>
      var elemFull = document.getElementById('full'),
          elemTrimmed = document.getElementById('trimmed');

      function ptText(ptElem) {
        return ptElem.shadowRoot.getElementById('box').textContent;
      }

      suite('<plain-text>', function() {
        test('short text is fully shown', function() {
          assert.equal(ptText(elemFull), 'Hi');
        });

        test('long text is trimmed', function() {
          assert.equal(ptText(elemTrimmed), 'Hello W…');
        });

        test('clicking toggles full/trimmed text', function(done) {
          var box = elemTrimmed.shadowRoot.getElementById('box');
          box.click();
          flush(function() {
            assert.equal(ptText(elemTrimmed), 'Hello World!');
            box.click();
            flush(function() {
              assert.equal(ptText(elemTrimmed), 'Hello W…');
              done();
            });
          });
        });
      });
    </script>
  </body>
</html>
