{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <script src="{% static 'vimma/js/util.js' %}"></script>

    <script>
      var vimmaApiRoot = '{% url "api-root" %}',
          vimmaApiScheduleList = '{% url "schedule-list" %}',
          vimmaApiScheduleDetailRoot = apiDetailRootUrl(
              '{% url "schedule-detail" 0 %}'),
          vimmaApiTimeZoneList = '{% url "timezone-list" %}',
          vimmaApiProjectList = '{% url "project-list" %}',
          vimmaApiProjectDetailRoot = apiDetailRootUrl(
              '{% url "project-detail" 0 %}'),
          vimmaApiProfileList = '{% url "profile-list" %}',
          vimmaApiProfileDetailRoot = apiDetailRootUrl(
              '{% url "profile-detail" 0 %}'),
          vimmaApiUserDetailRoot = apiDetailRootUrl(
              '{% url "user-detail" 0 %}'),
          vimmaApiVMList = '{% url "vm-list" %}',
          vimmaApiVMDetailRoot = apiDetailRootUrl(
              '{% url "vm-detail" 0 %}'),
          vimmaApiDummyVMDetailRoot = apiDetailRootUrl(
              '{% url "dummyvm-detail" 0 %}'),
          vimmaApiAWSVMDetailRoot = apiDetailRootUrl(
              '{% url "awsvm-detail" 0 %}'),
          vimmaApiProviderList = '{% url "provider-list" %}',
          vimmaApiProviderDetailRoot = apiDetailRootUrl(
              '{% url "provider-detail" 0 %}'),
          vimmaApiVMConfigList = '{% url "vmconfig-list" %}',
          vimmaApiAuditList = '{% url "audit-list" %}',

          vimmaEndpointCreateVM = '{% url "createVM" %}',
          vimmaEndpointPowerOnVM = '{% url "powerOnVM" %}',
          vimmaEndpointPowerOffVM = '{% url "powerOffVM" %}',
          vimmaEndpointRebootVM = '{% url "rebootVM" %}',
          vimmaEndpointDestroyVM = '{% url "destroyVM" %}',
          vimmaEndpointOverrideSchedule = '{% url "overrideSchedule" %}',

          vimmaUserId = {{ user.id }},

          _dummy_end;
    </script>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
