{% extends "vimma/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'vimma/components/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

  <script src="{% static 'vimma/components/bower_components/webcomponentsjs/webcomponents.js' %}"></script>
  <link rel="import" href="{% static 'vimma/components/index-elem/index-elem.html' %}">

  <script src="{% static 'vimma/components/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vimma/components/bower_components/jquery.cookie/jquery.cookie.js' %}"></script>
  <!--script src="{% static 'vimma/components/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script-->
{% endblock %}

{% block body %}
  <index-elem></index-elem>
{% endblock %}
