<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/static/bower_components/paper-button/paper-button.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/bower_components/paper-input/paper-input.html">
<link rel="import" href="/static/bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../equal-behavior/equal-behavior.html">
<link rel="import" href="../plain-text/plain-text.html">

<!--
  Component to create a new schedule.

  After creating a schedule it fires the event ‘schedule-created’. Event.detail
  is the ‘id’ of the newly created schedule.

  TODO: handle the case when there are no timezones in the database.
-->

<dom-module id="create-schedule">
<link rel="import" type="css" href="../../css/component-common.css">
<link rel="import" type="css" href="create-schedule.css">
<template>

  <paper-button id="expand" raised on-click="_toggle">
    <iron-icon icon="add"></iron-icon>
    Create Schedule
  </paper-button>

  <div class$="[[_toggleClass]]">
  <paper-material elevation="3" style="padding:20px;">

    <iron-ajax
      auto
      id="ajax-timezone"
      url="[[_tzApiUrl]]"
      handle-as="json"
      last-response="{{timezones}}">
    </iron-ajax>


    <paper-icon-button id="close" icon="close" on-click="_toggle">
    </paper-icon-button>

    <form is="iron-form" id="form" method="post" content-type="application/json" action="[[createUrl]]">
      <paper-input
        id="name"
        name="name"
        label="Name"
        value="{{_newName}}"
        auto-validate
        error-message="The name may not be empty"
        required>
      </paper-input>

      <div style="margin: 20px 0px 20px 0px;">
        <label for="timezone">Time Zone</label>
        <select id="timezone" name="timezone" on-change="timezoneSelected">
          <template is="dom-repeat" items="[[timezones.results]]">
            <option value="[[item.id]]" selected$="{{_equal(item, _newTz)}}">[[item.name]]</option>
          </template>
        </select>
      </div>

      <paper-button id="create" raised on-click="submitForm">
        <iron-icon icon="create"></iron-icon>
        Create
      </paper-button>
    </form>

  </paper-material>
  </div>

</template>
</dom-module>

<script src="create-schedule.js"></script>
