<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../create-vm/create-vm.html">
<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../vm-list/vm-list.html">
<link rel="import" href="../ajax-frag-splitter/ajax-frag-splitter.html">

<polymer-element name="project-detail" attributes="prjid frag">
  <template>
    <ajax-frag-splitter id="ajaxFrag" frag="{{frag}}">
    </ajax-frag-splitter>

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{!success}}">
        <error-display text={{errorText}}></error-display>
      </template>

      <template if="{{success}}">
        <template bind ref="main">
        </template>
      </template>
    </template>

    <template id="main">
      Project {{model.name}}.
      <paper-tabs selected="{{selectedTabIdx}}">
        <template repeat="{{tab in tabs}}">
          <paper-tab>{{tab.title}}</paper-tab>
        </template>
      </paper-tabs>

      <template if="{{selectedTabIdx == 0}}">
        <template bind ref="vm-list"></template>
        <!-- Side effect: <create-vm> can now change our prjid, but we only
          reflect it on reload, after a vm creation.
          TODO: change this behaviour, it may cause hard-to-find bugs.
        -->
        <create-vm prjid="{{prjid}}" on-vm-created="{{reload}}"></create-vm>
      </template>

      <template if="{{selectedTabIdx == 1}}">
        <template bind ref="user-list">
        </template>
      </template>
    </template>

    <template id="user-list">
      {{users.length}} user{{users.length != 1 ? 's': ''}}.
      <template repeat="{{u in users}}">
        <core-item label="{{u.first_name + ' ' + u.last_name}}">
        </core-item>
      </template>
    </template>

    <template id="vm-list">
      Showing {{vms.length}} VMs.

      <vm-list vmids="{{vmIds}}"></vm-list>
    </template>
  </template>

  <script src="project-detail.js"></script>
</polymer-element>
