<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../create-vm/create-vm.html">
<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../vm-detail/vm-detail.html">

<polymer-element name="project-detail" attributes="prjid">
  <template>
    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{!success}}">
        <error-display text={{errorText}}></error-display>
      </template>

      <template if="{{success}}">
        <template bind ref="main">
        </template>
      </template>
    </template>

    <template id="main">
      Project {{model.name}}.
      <paper-tabs selected="0" on-core-select="{{onCoreSelect}}">
        <paper-tab tabId="{{tabIds.VMS}}">VMs</paper-tab>
        <paper-tab tabId="{{tabIds.USERS}}">Users</paper-tab>
      </paper-tabs>

      <template if="{{selectedTab == tabIds.USERS}}">
        <template bind ref="user-list">
        </template>
      </template>

      <template if="{{selectedTab == tabIds.VMS}}">
        <template bind ref="vm-list">
        </template>
        <create-vm prjid="{{prjid}}" on-vm-created="{{reload}}"></create-vm>
      </template>
    </template>

    <template id="user-list">
      {{users.length}} user{{users.length != 1 ? 's': ''}}.
      <template repeat="{{u in users}}">
        <core-item label="{{u.first_name + ' ' + u.last_name}}">
        </core-item>
      </template>
    </template>

    <template id="vm-list">
      Showing {{vms.length}} VMs.

      <ul>
        <template repeat="{{vm in vms}}">
          <li>
            <vm-detail vmid="{{vm.id}}"></vm-detail>
          </li>
        </template>
      </ul>
    </template>
  </template>

  <script src="project-detail.js"></script>
</polymer-element>
