<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../plain-text/plain-text.html">

<!--
  Display a Date object, timestamp or a string representing a datetime
  (anything that can be passed to the new Date(…) constructor).
  The displayed date and time are in local (browser) time.
  The date is omitted if it's today, unless alwaysshowdate is true.
-->
<polymer-element name="local-date" attributes="date alwaysshowdate">
  <template>
    <link rel="stylesheet" type="text/css" href="local-date.css">
    <span id="result" title="{{isoStr}}">{{result}}</span>
  </template>

  <script src="local-date.js"></script>
</polymer-element>
