<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../schedule-editor/schedule-editor.html">

<polymer-element name="schedule-list">
  <template>
    <link rel="stylesheet" type="text/css" href="schedule-list.css">

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{!success}}">
        <error-display text={{errorText}}></error-display>
      </template>

      <template if="{{success}}">
        Showing {{schedules.length}}
        {{schedules.length == 1 ? 'schedule' : 'schedules'}}

        <template bind ref="schedule-list"></template>
        <template bind ref="create-schedule"></template>
      </template>
    </template>


    <template id="schedule-list">
      <ul id="schedules">
        <template repeat="{{schedule, idx in schedules}}">
          <li>
            <schedule-editor schedule="{{schedule}}" timezones="{{timezones}}"
              arrayIdx="{{idx}}" on-schedule-deleted="{{scheduleDeleted}}">
            </schedule-editor>
          </li>
        </template>
      </ul>
    </template>

    <template id="create-schedule">
      <paper-input label="New schedule name" floatingLabel="true"
        required error="The name may not be empty"
        value="{{newScheduleName}}" disabled="{{ajaxInProgress}}"
        on-input="{{nameEdited}}">
      </paper-input>
      <br>
      <paper-dropdown-menu label="Select a TimeZone"
        on-core-select="{{timezoneSelected}}">
        <template repeat="{{tz in timezones}}">
          <paper-item label="{{tz.name}}" tzid="{{tz.id}}">
          </paper-item>
        </template>
      </paper-dropdown-menu>
      <br>
      <paper-button id="create" raised
        on-click={{create}} disabled="{{ajaxInProgress}}"
        class="{{ {highlight: newScheduleName.length && newScheduleTimeZone != null} | tokenList }}">
        <core-icon icon="create"></core-icon>
        Create
      </paper-button>

      <template if={{!ajaxInProgress}}>
        <template if={{!ajaxSuccess}}>
          <br>
          <error-display text={{ajaxErrTxt}}></error-display>
        </template>
      </template>
    </template>
  </template>

  <script src="schedule-list.js"></script>
</polymer-element>
