<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../ajax-state/ajax-state.html">
<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../schedule-editor/schedule-editor.html">

<polymer-element name="schedule-list">
  <template>
    <link rel="stylesheet" type="text/css" href="schedule-list.css">

    <ajax-state id="ajax"></ajax-state>

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading && loadingSucceeded}}">
      Showing {{schedules.length}}
      {{schedules.length == 1 ? 'schedule' : 'schedules'}}

      <template bind ref="schedule-list"></template>
      <template bind ref="create-schedule"></template>
    </template>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <br>
      <error-display text="{{$.ajax.errorText}}"></error-display>
    </template>


    <template id="schedule-list">
      <ul id="schedules">
        <template repeat="{{schedule, idx in schedules}}">
          <li>
            <schedule-editor schedule="{{schedule}}" timezones="{{timezones}}"
              arrayIdx="{{idx}}" on-schedule-deleted="{{scheduleDeleted}}">
            </schedule-editor>
          </li>
        </template>
      </ul>
    </template>

    <template id="create-schedule">
      <div class="input-holder">
        <paper-input-decorator label="New schedule name" floatingLabel="{{true}}"
          error="The name may not be empty" isInvalid="{{!newScheduleName}}"
          disabled?="{{$.ajax.inProgress}}">
          <input is="core-input" value="{{newScheduleName}}">
        </paper-input-decorator>
      </div>
      <br>
      <paper-dropdown-menu label="Select a TimeZone">
        <paper-dropdown class="dropdown">
          <core-menu class="menu" selected="{{tzIdx}}">
            <template repeat="{{tz in timezones}}">
              <paper-item>{{tz.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
      <br>
      <paper-button id="create" raised
        on-click={{create}} disabled?="{{$.ajax.inProgress}}"
        class="{{ {highlight: newScheduleName.length && newScheduleTimeZone != null} | tokenList }}">
        <core-icon icon="create"></core-icon>
        Create
      </paper-button>
    </template>
  </template>

  <script src="schedule-list.js"></script>
</polymer-element>
