ul#schedules {
	list-style-type: none;
	padding-left: inherit;
}

ul#schedules > li {
	border: 0.15em solid gray;
	padding: 0.5em;
}

ul#schedules > li + li {
	margin-top: 0.5em;
}

#create.highlight {
	background: ForestGreen;
	color: white;
}

#create:hover {
	background: MediumSeaGreen;
	color: white;
}

#create::shadow #ripple {
	color: yellow;
}

div.input-holder {
	display: inline-block;
}
