<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/static/bower_components/paper-button/paper-button.html">
<link rel="import" href="/static/bower_components/paper-input/paper-input.html">
<link rel="import" href="/static/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../equal-behavior/equal-behavior.html">
<link rel="import" href="../plain-text/plain-text.html">

<!--
  Create a new VM.
  After creating the VM it fires the event ‘vm-created’.
-->

<dom-module id="create-vm">
<link rel="import" type="css" href="../../css/component-common.css">
<link rel="import" type="css" href="create-vm.css">
<template>

  <paper-button id="expand" raised on-click="_toggle">
    <iron-icon icon="add"></iron-icon>
    Create VM
  </paper-button>

  <iron-ajax
    auto
    id="projects"
    url="[[projectsUrl]]"
    last-response="{{projects}}">
  </iron-ajax>

  <!-- Providers: ,  -->
  <iron-ajax
    auto
    id="providersDummy"
    url="[[providersDummyUrl]]"
    last-response="{{providersDummy}}">
  </iron-ajax>
  <iron-ajax
    auto
    id="providersAws"
    url="[[providersAwsUrl]]"
    last-response="{{providersAws}}">
  </iron-ajax>

  <iron-ajax
    auto
    id="schedules"
    url="[[schedulesUrl]]"
    last-response="{{schedules}}">
  </iron-ajax>

  <div class$="[[_toggleClass]]">
  <paper-material elevation="3" style="padding:20px;">
    <div id="expanded">
    <paper-icon-button id="close" icon="close" on-click="_toggle">
    </paper-icon-button>

    <form is="iron-form" id="create-vm-form" method="post" content-type="application/json" action="[[createUrl]]">
      <table id="form">
        <tr>
          <td>
            <label for="prj">Project:</label>
          </td>
          <td>
            <select id="prj" name="project" on-change="projectSelected">
              <template is="dom-repeat" items="[[projects.results]]">
                <option selected$="[[_equal(item, _selPrj)]]" value="[[item.id]]">[[item.name]]</option>
              </template>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="provider">VM:</label>
          </td>
          <td class="provider-container">
            <template is="dom-repeat" items="[[providers]]">
              <template is="dom-repeat" items="[[item.config]]" as="config">
                <div on-click="providerSelected" data-item="{{item}}" data-config="{{config}}" class="box">
                  <span>[[item.name]]</span>: <span>[[config.name]]</span>
                </div>
              </template>
            </template>
            <paper-input
              id="provider"
              name="provider"
              hidden required>
            </paper-input>
            <paper-input
              id="config"
              name="config"
              hidden required>
            </paper-input>
          </td>
        </tr>
        <tr>
          <td>
            <label for="schedule">Schedule:</label>
          </td>
          <td class="schedule-container">
            <template is="dom-repeat" items="[[schedules.results]]">
              <div on-click="scheduleSelected" data-item="{{item}}" class="box"><span>[[item.name]]</span></div>
            </template>
            <paper-input
              id="schedule"
              name="schedule"
              hidden required>
            </paper-input>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <paper-input
              name="name"
              label="Name"
              placeholder="VM name"
              required>
            </paper-input>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <paper-input
              name="comment"
              label="Comment"
              placeholder="What is this VM for?">
            </paper-input>
          </td>
        </tr>
      </table>

      <paper-button id="create" raised on-click="submitForm">
        <iron-icon icon="create"></iron-icon>
        Create
      </paper-button>
    </form>
    </div>
  </paper-material>
  </div>

</template>
</dom-module>

<script src="create-vm.js"></script>
