div#box {
	white-space: pre-wrap;
	background-color: #eee;
	display: inline-block;
	text-overflow: ellipsis;
}

div#box.trims {
	cursor: pointer;
}
div#box.trims:hover {
	background-color: LightGray;
}
