:host {
    position: relative;

    display: block;
}

div#summary {
    display: flex;
    align-items: center;
    padding: 1ex;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-top-left-radius: 5px;
}

div#summary:hover {
    background-color: var(--paper-light-blue-50);
    cursor: pointer;
}

span#summary-name {
    width: 65%;
}

span#summary-timezone {
    flex-grow: 1;
}

paper-icon-button#delete {
    color: var(--paper-teal-700);
}

paper-icon-button#delete:hover {
    color: var(--paper-red-a400);
    background: var(--paper-red-100);
    border-radius: 50%;
}

div#details {
    padding: 1ex;
    border-top: 0.1em solid;
    border-color: var(--paper-teal-200);
}

:host(.unsaved) paper-button#discard {
    background-color: var(--paper-light-blue-50);
}
:host(.unsaved) paper-button#save {
    background-color: var(--paper-green-300);
}
