<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../frag-util/frag-util.html">

<!--
  Change URL fragment entering each change in browser history.

  Note: Conversions between ‘frag’⇔URL hash are done using <frag-util>,
  in particular: the browser URL hash is <frag-util>.getFragPrefix() + ‘frag’.

  <frag-history frag="{{myvar}}"></frag-history>

  On creation:
  ― if ‘frag’ isn't a String (e.g. ‘undefined’, ‘null’), it's set to the
  current browser URL fragment.
  ― if ‘frag’ is a String the browser URL fragment is updated (and a history
  entry is added only if we change its value).

  Changes to ‘frag’ are reflected in the URL fragment and create an entry in
  browser history.

  On ‘attached’, this element listens to ‘hashchange’ events and sets ‘frag’ to
  the new value of the URL hash.
  On ‘detached’, this listener is removed.
-->

<dom-module id="frag-history">
  <template>
    <frag-util id="fu"></frag-util>
  </template>
</dom-module>

<script src="frag-history.js"></script>
