<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../audit-display/audit-display.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../frag-history/frag-history.html">
<link rel="import" href="../frag-split/frag-split.html">

<dom-module id="index-elem">
  <link rel="import" type="css" href="index-elem.css">

  <template>
    <frag-history frag="{{_frag}}"></frag-history>
    <frag-split frag="{{_frag}}" head="{{_fragHead}}"></frag-split>

    <paper-tabs selected="{{_selected}}">
      <template is="dom-repeat" items="{{_tabs}}">
        <paper-tab>[[item.title]]</paper-tab>
      </template>
    </paper-tabs>

    <!-- dom-if instead of iron-pages to restamp -->
    <template is="dom-if" if="{{_equal(_selected, 3)}}" restamp>
      <audit-display page-size="20"></audit-display>
    </template>
  </template>
</dom-module>

<script src="index-elem.js"></script>
