<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../schedule-list/schedule-list.html">
<link rel="import" href="../projects-tab/projects-tab.html">
<link rel="import" href="../vm-list/vm-list.html">

<polymer-element name="index-elem" on-core-select="{{onCoreSelect}}">
  <template>
    <paper-tabs selected="0">
      <paper-tab id="{{tabIds.VMS}}">VMs</paper-tab>
      <paper-tab id="{{tabIds.PROJECTS}}">Projects</paper-tab>
      <paper-tab id="{{tabIds.SCHEDULES}}">Schedules</paper-tab>
    </paper-tabs>

    <template if="{{selectedId == tabIds.SCHEDULES}}">
      <schedule-list></schedule-list>
    </template>

    <template if="{{selectedId == tabIds.PROJECTS}}">
      <projects-tab></projects-tab>
    </template>

    <template if="{{selectedId == tabIds.VMS}}">
      <vm-list></vm-list>
    </template>
  </template>

  <script src="index-elem.js"></script>
</polymer-element>
