paper-tabs {
	--paper-tabs-selection-bar-color: var(--paper-red-a700);
	background-color: var(--paper-grey-300);
	color: var(--paper-grey-900);
}

paper-tab {
	--paper-tab-ink: var(--paper-red-100);
}

div#content {
	margin-top: 1ex;
}
