<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="../ajax-load/ajax-load.html">
<link rel="import" href="../api-loader/api-loader.html">
<link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/static/bower_components/paper-button/paper-button.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/bower_components/paper-input/paper-input.html">
<link rel="import" href="/static/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/static/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../equal-behavior/equal-behavior.html">
<link rel="import" href="../loading-overlay/loading-overlay.html">
<link rel="import" href="../plain-text/plain-text.html">
<link rel="import" href="matrix-editor.html">

<dom-module id="schedule-detail">
  <link rel="import" type="css" href="../../css/component-common.css">
  <link rel="import" type="css" href="schedule-detail.css">

  <template>
    <ajax-load
      url="[[_scheduleUrl]]"
      loading="{{_scheduleLoading}}"
      error="{{_scheduleError}}"
      data="{{_schedule}}"
      ></ajax-load>

    <api-loader
      url="[[_tzUrl]]"
      loading="{{_tzLoading}}"
      error="{{_tzError}}"
      data="{{_timezones}}"
      ></api-loader>

    <template is="dom-if" if="[[_loading]]" restamp>
      <paper-spinner active></paper-spinner>
    </template>
    <template is="dom-if" if="[[!_loading]]" restamp>
      <template is="dom-if" if="[[_error]]">
        <plain-text class="error" text="[[_error]]"></plain-text>
      </template>
      <template is="dom-if" if="[[!_error]]">
        <template is="dom-if" if="[[_actionError]]">
          <plain-text class="error" text="[[_actionError]]"></plain-text>
        </template>
        <div id="summary" on-click="_toggle">
          <span id="summary-name">[[_schedule.name]]</span>
          <span id="summary-timezone"
            >[[_tzName(_timezones, _schedule.timezone)]]</span>
          <paper-icon-button
            id="delete"
            icon="delete"
            title="Delete…"
            on-click="_delete"
            ></paper-icon-button>
        </div>
        <template is="dom-if" if="[[_expanded]]">
          <div id="details">
            <paper-input
              label="Name"
              value="{{_newName}}"
              required
              auto-validate
              error-message="The name may not be empty"
              ></paper-input>

            <label for="tz-select">TimeZone:</label>
            <select id="tz-select" on-change="_newTzSelected">
              <template is="dom-repeat" items="[[_timezones]]">
                <option value="[[item.id]]"
                        selected$="[[_equal(item.id, _newTzId)]]"
                        >[[item.name]]</option>
              </template>
            </select>

            <matrix-editor
              matrix="{{_newMatrix}}"></matrix-editor>

            <paper-toggle-button id="is-special" checked="{{_newIsSpecial}}"
              ></paper-toggle-button>
            <label for="is-special">
              Using this schedule requires special permissions
            </label>
            <br>

            <paper-button id="save" raised on-click="_save">
              <iron-icon icon="save"></iron-icon>
              Save
            </paper-button>

            <paper-button id="discard" raised on-click="_discardChanges">
              <iron-icon icon="undo"></iron-icon>
              Undo changes
            </paper-button>
          </div>
        </template>

        <template is="dom-if" if="[[_actionInFlight]]" restamp>
          <loading-overlay></loading-overlay>
        </template>
      </template>
    </template>
  </template>
</dom-module>

<script src="schedule-detail.js"></script>
