:host {
	display: block;
}

paper-button#reload, button#reload {
	color: green;
}

div#box {
	width: 100%;
	display: table;
	position: relative;
}

div#box div#overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	background: rgba(0, 0, 0, 0.1);
	text-align: center;
}

div#box div#navigation {
	display: flex;
	justify-content: space-between;
}

div#box button#show-more {
	width: 100%;
}

table#table {
	width: 100%;
	border-collapse: collapse;
}

table#table > thead {
	font-weight: bold;
}

table#table > thead > tr > td,
table#table > tbody > tr > td {
	border: 0.1em solid DarkSlateGray;
	padding-left: 1ex;
	padding-right: 1ex;
}

table#table > tbody > tr.DEBUG {
	color: Black;
}
table#table > tbody > tr.INFO {
	color: MidnightBlue;
}
table#table > tbody > tr.WARNING {
	color: #FF7E00;
	font-weight: bold;
}
table#table > tbody > tr.ERROR {
	color: Red;
	font-weight: bold;
}
