<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../local-date/local-date.html">
<link rel="import" href="../ajax-state/ajax-state.html">

<polymer-element name="audit-display" attributes="vmid userid">
  <template>
    <link rel="stylesheet" type="text/css" href="audit-display.css">

    <ajax-state id="ajax"></ajax-state>

    <button on-click="{{reload}}" disabled?="{{$.ajax.inProgress}}">
      Refresh logs
    </button>
    <br>

    <template if="{{!apiResult && $.ajax.inProgress}}">
      Loading…
    </template>
    <template if="{{apiResult}}">
      <template bind ref="main"></template>
    </template>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <br>
      <error-display text={{$.ajax.errorText}}></error-display>
    </template>

    <template id="main">
      <div id="box">
        <template bind ref="navigation"></template>
        <template bind ref="table"></template>
      </div>
    </template>

    <template id="navigation">
      <div id="navigation">
        <button type="button" on-click="{{loadPrevious}}"
          disabled?="{{$.ajax.inProgress || !apiResult.previous}}">
          ← prev
        </button>
        <span id="item-range">
          <!-- show 0–0 for no items -->
          Logs {{firstItemNr}}–{{getLastItemNr()}}
          of {{apiResult.count}}
          with level ≥
          <select on-change="{{minLevelChanged}}"
            disabled?="{{$.ajax.inProgress}}">
            <template repeat="{{al, i in auditLevels}}">
              <option value="{{al.id}}" selected?="{{i == minLevelIdx}}">
                {{al.name}}
              </option>
            </template>
          </select>
        </span>
        <button type="button" on-click="{{loadNext}}"
          disabled?="{{$.ajax.inProgress || !apiResult.next}}">
          next →
        </button>
      </div>
    </template>

    <template id="table">
      <table>
        <!--
          Using a named template so its content can access getUserText(…).
          This wouldn't be possible using an unnamed template.
        -->
        <template repeat="{{apiResult.results as r}}">
          <tr>
            <td><local-date date="{{r.timestamp}}"></local-date></td>
            <td>{{r.level}}</td>
            <td>{{r.vm || '—'}}</td>
            <td title="{{getUserTooltip(r.user)}}">{{getUserText(r.user)}}</td>
            <td><plain-text text="{{r.text}}"></plain-text></td>
          </tr>
        </template>
      </table>

      <button id="show-more" type="button" on-click="{{showMore}}"
        disabled?="{{$.ajax.inProgress || pageSize >= maxPageSize}}">
          Show more
      </button>
    </template>
  </template>

  <script src="audit-display.js"></script>
</polymer-element>
