<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tests</title>

    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="/static/bower_components/web-component-tester/browser.js"></script>

    <link rel="import" href="../frag-history.html">
    <link rel="import" href="../../frag-util/frag-util.html">
  </head>

  <!--
    Can't test that <frag-history frag="abc"> changes the browser URL:
    Programmatically:
    ― var e = document.createElement('frag-history');
      e.setAttribute('frag', 'abc');
      Creates the frag-history with no default value for the property, so picks
      up the hash from the browser URL before .setAttribute() runs.
    ― myDiv.innerHTML = '<frag-history frag="abc"></frag-history>';
      Works in Chromium but not Firefox (seems like the element lifecycle
      methods run sometime later in Firefox).
    Putting <frag-history frag="abc"> in HTML code in its own HTML file:
    works if opened itself, or if components/test/index.html, but if
    components/frag-history/test/index.html is opened (which includes the
    test HTML file directly) there's an infinite loop saying
    ‘Subsuite loaded but was never registered. This most likely is due to wonky
    history behavior. Reloading...’.
    As expected, changing browser history interferes with the test tool.
    So keeping the history-related tests which don't interfere.

    Changing the URL hash seems to cause the hashchange callback to run
    asynchronously, so we're not adding a test that the ‘frag’ gets updated.
  -->

  <body>
    <div id="holder"></div>

    <script>
      var div = document.getElementById('holder');
      var fu;
      window.addEventListener('WebComponentsReady', function() {
        fu = document.createElement('frag-util');
      });

      suite('<frag-history> tests', function() {
        test('absent initial value is set from browser fragment', function() {
          ['absent', '2015-06-15T13:58:39.848Z', ''].forEach(function(frag) {
            fu.setFrag(frag);
            var e = document.createElement('frag-history');
            div.appendChild(e);
            assert.equal(e.frag, frag);
            div.removeChild(e);
          });
        });

        test('changing ‘frag’ changes the browser hash', function() {
          var e = document.createElement('frag-history');
          div.appendChild(e);
          ['chg frag', '', '2015-06-15T15:46:22.748Z'].forEach(function(frag) {
            e.frag = frag;
            assert.equal(fu.getFrag(), frag);
          });
          div.removeChild(e);
        });
      });
    </script>
  </body>
</html>
