<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="../create-vm/create-vm.html">
<link rel="import" href="../vm-list/vm-list.html">

<dom-module id="vms-tab">
  <link rel="import" type="css" href="vms-tab.css">

  <template>
    <create-vm on-vm-created="_vmCreated"></create-vm>
    <vm-list id="list_alive" frag="{{frag}}" expanded></vm-list>
    <vm-list frag="{{frag}}" destroyed></vm-list>
  </template>
</dom-module>

<script src="vms-tab.js"></script>
