<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../show-count/show-count.html">
<link rel="import" href="../vm-list/vm-list.html">

<polymer-element name="vms-tab">
  <template>
    <link rel="stylesheet" type="text/css" href="vms-tab.css">

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{!success}}">
        <error-display text={{errorText}}></error-display>
      </template>

      <template if="{{success}}">
        <template bind ref="main"></template>
      </template>
    </template>

    <template id="main">
      <h1>
        <show-count n="{{vmIdsInOwnProjects.length}}" name="VM"></show-count>
        in your projects
      </h1>
      <vm-list vmids="{{vmIdsInOwnProjects}}"></vm-list>

      <h1>
        <show-count n="{{vmIdsInOtherProjects.length}}" name="VM"></show-count>
        in other projects
        <button type="button" on-click="{{toggleOtherVMs}}"
          hidden?="{{!vmIdsInOtherProjects.length}}">
          {{showOtherVMs ? 'Hide' : 'Show'}}
        </button>
      </h1>
      <template if="{{showOtherVMs}}">
        <vm-list vmids="{{vmIdsInOtherProjects}}"></vm-list>
      </template>

      <create-vm on-vm-created="{{reload}}"></create-vm>
    </template>
  </template>

  <script src="vms-tab.js"></script>
</polymer-element>
