<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../show-count/show-count.html">
<link rel="import" href="../vm-list/vm-list.html">
<link rel="import" href="../create-vm/create-vm.html">

<polymer-element name="vms-tab" attributes="frag">
  <template>
    <link rel="stylesheet" type="text/css" href="/static/vimma/components/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vms-tab.css">

    <template if="{{loading}}">
      Loading…
    </template>

    <template if="{{!loading}}">
      <template if="{{!success}}">
        <error-display text={{errorText}}></error-display>
      </template>

      <template if="{{success}}">
        <template bind ref="main"></template>
      </template>
    </template>

    <template id="main">
      <template if="{{!showCreateVMComponent}}">
        <button type="button" class="btn btn-primary"
            on-click="{{toggleCreateVM}}">
          <span class="glyphicon glyphicon-plus"></span>
          Create VM
        </button>
      </template>
      <template if="{{showCreateVMComponent}}">
        <create-vm showCloseBtn on-vm-created="{{reload}}"
          on-cancel-create-vm="{{toggleCreateVM}}"></create-vm>
      </template>

      <h1>
        <show-count n="{{vmIdsInOwnProjects.length}}" name="VM"></show-count>
        in your projects
      </h1>
      <vm-list vmids="{{vmIdsInOwnProjects}}" frag="{{frag}}"></vm-list>

      <h1 hidden?="{{!vmIdsInOtherProjects.length}}">
        <show-count n="{{vmIdsInOtherProjects.length}}" name="VM"></show-count>
        in other projects
        <button type="button" on-click="{{toggleOtherVMs}}">
          {{showOtherVMs ? 'Hide' : 'Show'}}
        </button>
      </h1>
      <template if="{{showOtherVMs}}">
        <vm-list vmids="{{vmIdsInOtherProjects}}"></vm-list>
      </template>
    </template>
  </template>

  <script src="vms-tab.js"></script>
</polymer-element>
