<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../create-aws-firewall-rule/create-aws-firewall-rule.html">
<link rel="import" href="../expiration-item/expiration-item.html">
<link rel="import" href="../loading-overlay/loading-overlay.html">
<link rel="import" href="../plain-text/plain-text.html">

<dom-module id="aws-firewall-rules">
  <link rel="import" type="css" href="../../css/component-common.css">
  <link rel="import" type="css" href="aws-firewall-rules.css">

  <template>
    <template is="dom-if" if="[[_loading]]" restamp>
      <paper-spinner active></paper-spinner>
    </template>

    <template is="dom-if" if="[[!_loading]]" restamp>
      <template is="dom-if" if="[[_loadErr]]">
        <paper-icon-button
          id="reload"
          icon="refresh"
          title="Reload"
          on-click="_reload"
          ></paper-icon-button>
        <plain-text class="error" text="[[_loadErr]]"></plain-text>
      </template>

      <template is="dom-if" if="[[!_loadErr]]" restamp>
        <div id="main">
          <div>
            <create-aws-firewall-rule
              vmid="[[vmid]]"
              on-aws-firewall-rule-created="_reload"
              ></create-aws-firewall-rule>
          </div>
          <template is="dom-if" if="[[!_models.length]]">
            No firewall rules.
          </template>
          <template is="dom-if" if="[[_models.length]]" restamp>
            <template is="dom-if" if="[[_deleteErr]]">
              <div>
                <plain-text class="error" text="[[_deleteErr]]"></plain-text>
              </div>
            </template>

            <table>
              <thead>
                <tr>
                  <th>Protocol</th>
                  <th>Port(s)</th>
                  <th>CIDR IP</th>
                  <th>Expires on</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <template is="dom-repeat" items="[[_models]]">
                  <tr>
                    <td>[[item.aws_fw_rule.ip_protocol]]</td>
                    <td>[[_getPortDisplay(item)]]</td>
                    <td>[[item.aws_fw_rule.cidr_ip]]</td>
                    <td>
                      <expiration-item
                        expid="[[item.fw_rule_exp.expiration]]"
                        no-explanation
                        ></expiration-item>
                    </td>
                    <td>
                      <paper-icon-button
                        id="delete"
                        icon="delete"
                        title="Delete rule"
                        on-click="_delete"
                        ></paper-icon-button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>

          <template is="dom-if" if="[[_deleteInFlight]]" restamp>
            <loading-overlay></loading-overlay>
          </template>
        </div>
      </template>
    </template>
  </template>
</dom-module>

<script src="aws-firewall-rules.js"></script>
