<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../audit-display/audit-display.html">
<link rel="import" href="../aws-firewall-rules/aws-firewall-rules.html">
<link rel="import" href="../equal-behavior/equal-behavior.html">
<link rel="import" href="../expiration-item/expiration-item.html">
<link rel="import" href="../loading-overlay/loading-overlay.html">
<link rel="import" href="../local-date/local-date.html">
<link rel="import" href="../override-schedule/override-schedule.html">
<link rel="import" href="../plain-text/plain-text.html">
<link rel="import" href="../power-log/power-log.html">
<link rel="import" href="../vm-schedule/vm-schedule.html">
<link rel="import" href="aws-vm-advanced-details.html">

<dom-module id="vm-detail" name="">
<link rel="import" type="css" href="../../css/component-common.css">
<link rel="import" type="css" href="vm-detail.css">

<template>
  <iron-ajax
    auto
    id="vmAjax"
    url="[[vmUrl(name, vmid)]]"
    loading="{{loading}}"
    last-response="{{vm}}">
  </iron-ajax>

  <template is="dom-if" if="[[loading]]">
    <paper-spinner active></paper-spinner>
  </template>

  <template is="dom-if" if="[[!loading]]">
    <div>
      <plain-text class="error" text="[[_error]]"></plain-text>
    </div>

    <div id="summary">
      <paper-icon-button
        id="expand"
        icon="[[_getShowHideIcon(_expanded)]]"
        title="Show/hide details"
        on-click="_toggle"
        ></paper-icon-button>

      <paper-icon-button
         id="reload"
         icon="refresh"
         title="Refresh"
         on-click="_reload"
         ></paper-icon-button>

      <span class="vborder"></span>
      <span
        id="smr-name"
        on-tap="_toggle"
        on-track="_summaryTrack"
        >[[getName(vm)]]</span>
      <span class="vborder"></span>
      <span
        id="smr-state"
        on-tap="_toggle"
        on-track="_summaryTrack"
        >
        <iron-icon
          icon="[[_getStateIcon(vm)]]"
          title="[[_getStateName(vm)]]"
          class$="[[_getStateClass(vm)]]"
          ></iron-icon>
      </span>
      <span class="vborder"></span>
      <span
        id="smr-project"
        on-tap="_toggle"
        on-track="_summaryTrack"
        >[[_getProjectName(vm)]]</span>
      <span class="vborder"></span>
      <span
        id="smr-expiry"
        on-tap="_toggle"
        on-track="_summaryTrack"
        class$="[[_getExpiryClass(vm)]]"
        >
        <local-date
          date-string="[[getExpiryDate(vm)]]"
          hide-millis
          ></local-date>
      </span>
      <span class="vborder"></span>

      <paper-icon-button
        id="reboot"
        icon="power-settings-new"
        title="Reboot…"
        on-click="_reboot"
        ></paper-icon-button>
      <paper-icon-button
        id="destroy"
        icon="delete"
        title="Destroy…"
        on-click="_destroy"
        ></paper-icon-button>
    </div>

    <template is="dom-if" if="[[_expanded]]" restamp>
      <div id="details">
        <h3
          class="section-toggle"
          on-click="_toggleBasicDetails"
          title$="[[_getSectionTooltip(_showBasicDetails, 'Basic Details')]]">
          <iron-icon icon="[[_getSectionIcon(_showBasicDetails)]]"></iron-icon>
          Details
        </h3>
        <template is="dom-if" if="[[_showBasicDetails]]" restamp>
          <template is="dom-if"
            if="[[_any(vm.destroy_request_at, vm.destroyed_at)]]"
            restamp>
            <div id="destruction-details">
              Destruction requested
              <template is="dom-if" if="[[vm.destroy_request_at]]"
                restamp>
                on
                <local-date
                  date-string="[[vm.destroy_request_at]]"
                  hide-millis></local-date>
              </template>
              <template is="dom-if" if="[[vm.destroy_request_by]]"
                restamp>
                by <span>[[vm.destroy_request_by.username]]</span>
              </template>
              <br>
              <template is="dom-if" if="[[vm.destroyed_at]]" restamp>
                Destruction completed on
                <local-date
                  date-string="[[vm.destroyed_at]]"
                  hide-millis></local-date>.
              </template>
              <template is="dom-if" if="[[!vm.destroyed_at]]">
                Destruction has not succeeded yet.
              </template>
            </div>
          </template>

          <template is="dom-if" restamp if="[[_equal(name, 'aws')]]">
            <aws-vm-advanced-details vm="[[vm]]"></aws-vm-advanced-details>
          </template>
        </template>

        <h3 class="section-toggle"
          on-click="_toggleScheduleAndExpiry"
          title$="[[_getSectionTooltip(_showScheduleAndExpiry, 'Schedule and Expiration')]]">
          <iron-icon icon="[[_getSectionIcon(_showScheduleAndExpiry)]]"></iron-icon>
          Schedule and Expiration
        </h3>
        <template is="dom-if" if="[[_showScheduleAndExpiry]]" restamp>
          <vm-schedule vm="[[vm]]"></vm-schedule>
          <override-schedule vm="[[vm]]"></override-schedule>
          <expiration-item expid="[[vm.expiration.id]]"></expiration-item>
        </template>

        <h3 class="section-toggle"
          on-click="_toggleFirewallRules"
          title$="[[_getSectionTooltip(_showFirewallRules, 'Firewall Rules')]]">
          <iron-icon
            icon="[[_getSectionIcon(_showFirewallRules)]]"></iron-icon>
          Firewall Rules
        </h3>
        <template is="dom-if" if="[[_showFirewallRules]]" restamp>
          <template is="dom-if" restamp
            if="[[_equal(name, 'aws')]]">
            <aws-firewall-rules vm="[[vm]]"></aws-firewall-rules>
          </template>
        </template>

        <h3 class="section-toggle"
          on-click="_toggleLogs"
          title$="[[_getSectionTooltip(_showLogs, 'logs')]]">
          <iron-icon icon="[[_getSectionIcon(_showLogs)]]"></iron-icon>
          Logs
        </h3>
        <template is="dom-if" if="[[_showLogs]]" restamp>
          <audit-display vm="[[vm]]"></audit-display>
        </template>

        <h3 class="section-toggle"
          on-click="_togglePowerLog"
          title$="[[_getSectionTooltip(_showPowerLog, 'Power Chart')]]">
          <iron-icon icon="[[_getSectionIcon(_showPowerLog)]]"></iron-icon>
          Power Chart
        </h3>
        <template is="dom-if" if="[[_showPowerLog]]" restamp>
          <power-log vm="[[vm]]"></power-log>
        </template>
      </div>
    </template>
  </template>
</template>
</dom-module>

<script src="vm-detail.js"></script>
