/* Common stylesheet included by each component who wants to use it. */

plain-text.error {
	background-color: Pink;
	color: Black;
	font-weight: normal;
}
plain-text.error.toggles:hover {
	background-color: HotPink;
}

/* Override Chromium's user agent stylesheet */
input, textarea, keygen, select, button {
	font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab";
}
