<link rel="import" href="/static/bower_components/polymer/polymer.html">

<link rel="import" href="../frag-util/frag-util.html">

<!--
  Fragment splitter. Usage:

  <frag-split frag="A/B/C"></frag-split>
  <frag-split head="A" tail="B/C"></frag-split>

  It has 3 properties: frag="A/B/C", head="A" and tail="B/C".
  When ‘frag’ changes, ‘head’ and ‘tail’ are updated.
  When ‘head’ or ‘tail’ change, ‘frag’ is updated.

  You may see transitory updates of these properties with value ‘undefined’.
  They are immediately followed by updates with a String value.
-->

<script src="frag-split.js"></script>
