{% extends "vimma/base.html" %}
{% load staticfiles %}

{% block head %}
  <!-- Without <title>, the back-forward browser history shows the #! urls -->
  <!--title>Vimma</title-->

  <!--
    Don't put any styles here (<style>, external stylesheets, etc). They will
    bleed through everything when using Shady DOM.
    <vimma-app> defines all styles which inherit through descendants.
    Common styles which don't inherit (e.g. what an <h1> looks like) are put in
    a single file and all components who want to use those styles import that
    common file.
  -->

  <!-- Fonts -->
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono:400,700|Roboto+Slab:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="{% static 'bower_components/webcomponentsjs/webcomponents-lite.min.js' %}"></script>

  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/jquery.cookie/jquery.cookie.js' %}"></script>
  <script src="{% static 'bower_components/highcharts/highcharts.js' %}"></script>

  <script src="{% static 'vimma/js/index.js' %}"></script>

  <link rel="import" href="{% static 'vimma/components/vimma-app/vimma-app.html' %}">
{% endblock %}

{% block body %}
  <vimma-app></vimma-app>
{% endblock %}
