<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../ajax-state/ajax-state.html">
<link rel="import" href="../show-count/show-count.html">

<polymer-element name="vm-recent-errors" attributes="vmid maxsecs showabsence">
  <template>
    <link rel="stylesheet" type="text/css" href="vm-recent-errors.css">

    <ajax-state id="ajax"></ajax-state>

    <template if="{{loading && showabsence}}">
      Loading…
    </template>
    <template if="{{!loading && loadingSucceeded}}">
      <template bind ref="main"></template>
    </template>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
      <error-display text={{$.ajax.errorText}}></error-display>
    </template>

    <template id="main">
      <template if="{{!errors}}">
        <template if="{{showabsence}}">
          <div class="no-errors">
            No errors in the last {{maxsecs}} seconds.
          </div>
        </template>
      </template>

      <template if="{{errors}}">
        <div class="errors">
          <show-count n="{{errors}}" name="error"></show-count>
          in the past {{maxsecs}} seconds.
        </div>
      </template>
    </template>
  </template>

  <script src="vm-recent-errors.js"></script>
</polymer-element>
