<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../frag-split.html">

<dom-module id="multi-comp">
  <template>
    <frag-split id="top" head="{{topHead}}" tail="{{topTail}}"></frag-split>
    <frag-split id="mid"
                frag="{{topTail}}"
                head="{{midHead}}" tail="{{midTail}}"></frag-split>
    <frag-split id="bot"
                frag="{{midTail}}"
                head="{{botHead}}" tail="{{botTail}}"></frag-split>
  </template>

  <script>
    Polymer({
      is: 'multi-comp',

      properties: {
        topHead: String,
        topTail: String,
        midHead: String,
        midTail: String,
        botHead: String,
        botTail: String
      }
    });
  </script>
</dom-module>
