<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tests</title>

    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <link rel="import" href="../frag-split.html">
    <link rel="import" href="../../frag-util/frag-util.html">
  </head>

  <body>
    <frag-split id="no-props"></frag-split>
    <frag-split id="frag" frag="a/b/c"></frag-split>
    <frag-split id="head-tail" head="x" tail="y"></frag-split>
    <frag-split id="head" head="x/y/z"></frag-split>
    <frag-split id="tail" tail="µ/m/M"></frag-split>
    <frag-split id="tail-single" tail="hello"></frag-split>

    <script>
      var fu = document.createElement('frag-util');
      function chk(id, frag) {
        var e = document.getElementById(id);
        assert.equal(e.frag, frag);
        assert.equal(e.head, fu.fragHead(frag));
        assert.equal(e.tail, fu.fragTail(frag));
      }

      suite('<frag-split> single', function() {
        test('no props set', function() {
          chk('no-props', '');
        });

        test('frag set', function() {
          chk('frag', 'a/b/c');
        });

        test('head & tail set', function() {
          chk('head-tail', 'x/y');
        });

        test('only head set', function() {
          chk('head', 'x/y/z');
        });

        test('only tail set', function() {
          chk('tail', 'µ/m/M');
        });

        test('only tail set, without slashes', function() {
          chk('tail-single', 'hello');
        });
      });
    </script>
  </body>
</html>
