<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<!--
  Load AJAX data and expose the result (data) and state (loading, error)
  declaratively via properties.

  <ajax-load
    url="myurl"
    data="object"
    loading="boolean"
    error="empty string or error str"
    ></ajax-load>

  <iron-ajax> currently needs us to write imperative code for proper error
  handling:
  https://github.com/PolymerElements/iron-ajax/issues/63
-->

<dom-module id="ajax-load">
  <template>
    <iron-ajax
      id="ajax"
      auto
      url="[[url]]"
      handle-as="json"
      loading="{{_ironLoading}}"
      on-error="_handleError"
      on-response="_handleResponse"
      ></iron-ajax>
  </template>
</dom-module>

<script src="ajax-load.js"></script>
