<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="../ajax-state/ajax-state.html">
<link rel="import" href="matrix-editor.html">

<polymer-element name="schedule-editor" attributes="schedule timezones">
  <template>
    <link rel="stylesheet" type="text/css" href="schedule-editor.css">

    <ajax-state id="ajax"></ajax-state>

    <paper-input label="Schedule Name" floatingLabel="true"
      required error="The name may not be empty" on-input="{{nameEdited}}"
      value="{{editModel.name}}" disabled?="{{$.ajax.inProgress}}">
    </paper-input>

    <matrix-editor matrix="{{editModel.matrix}}"
      disabled?="{{$.ajax.inProgress}}"
      rowLabels="{{matrixRowLabels}}" colLabels="{{matrixColLabels}}">
    </matrix-editor>

    TimeZone:
    <paper-dropdown-menu selected="{{editModel.timezone}}" valueattr="tzid"
      on-core-select="{{timezoneSelected}}">
      <template repeat="{{tz in timezones}}">
        <paper-item label="{{tz.name}}" tzid="{{tz.id}}"></paper-item>
      </template>
    </paper-dropdown-menu>
    <br>
    <input id="is_special" type="checkbox" checked="{{editModel.is_special}}"
      disabled?="{{$.ajax.inProgress}}">
    <label for="is_special">
      Using this schedule requires special permissions
    </label>

    <br>
    {{hasUnsavedChanges ? 'You have unsaved changes' : ''}}
    <br>
    <paper-button id="save" raised
      on-click={{save}} disabled?="{{$.ajax.inProgress}}"
      class="{{ {unsaved: hasUnsavedChanges} | tokenList }}">
      <core-icon icon="save"></core-icon>
      Save
    </paper-button>
    <paper-button id="revert" raised
      on-click={{revert}} disabled?="{{$.ajax.inProgress}}"
      class="{{ {unsaved: hasUnsavedChanges} | tokenList }}">
      <core-icon icon="undo"></core-icon>
      Discard changes
    </paper-button>
    <paper-button id="delete" raised
      on-click={{delete}} disabled?="{{$.ajax.inProgress}}">
      <core-icon icon="delete"></core-icon>
      Delete
    </paper-button>

    <template if="{{!$.ajax.inProgress && !$.ajax.success}}">
        <br>
        <error-display text="{{$.ajax.errorText}}"></error-display>
    </template>
  </template>

  <script src="schedule-editor.js"></script>
</polymer-element>
