<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-elements/core-elements.html">
<link rel="import" href="../bower_components/paper-elements/paper-elements.html">

<link rel="import" href="../error-display/error-display.html">
<link rel="import" href="matrix-editor.html">

<polymer-element name="schedule-editor" attributes="schedule timezones">
  <template>
    <link rel="stylesheet" type="text/css" href="schedule-editor.css">

    <paper-input label="Schedule Name" floatingLabel="true"
      required error="The name may not be empty" on-input="{{nameEdited}}"
      value="{{editModel.name}}" disabled="{{ajaxInProgress}}">
    </paper-input>

    <matrix-editor matrix="{{editModel.matrix}}" disabled="{{ajaxInProgress}}">
    </matrix-editor>

    TimeZone:
    <core-dropdown-menu selected="{{editModel.timezone}}" valueattr="tzid"
      on-core-select="{{timezoneSelected}}">
      <template repeat="{{tz in timezones}}">
        <core-item label="{{tz.name}}" tzid="{{tz.id}}"></core-item>
      </template>
    </core-dropdown-menu>
    <br>
    <input id="is_special" type="checkbox" checked="{{editModel.is_special}}">
    <label for="is_special">
      Using this schedule requires special permissions
    </label>

    <br>
    {{hasUnsavedChanges ? 'You have unsaved changes' : ''}}
    <br>
    <paper-button id="save" icon="save" label="Save" raisedButton
      on-click={{save}} disabled="{{ajaxInProgress}}"
      class="{{ {unsaved: hasUnsavedChanges} | tokenList }}">
    </paper-button>
    <paper-button id="revert" icon="undo" label="Discard changes" raisedButton
      on-click={{revert}} disabled="{{ajaxInProgress}}"
      class="{{ {unsaved: hasUnsavedChanges} | tokenList }}">
    </paper-button>
    <br>
    <paper-button id="delete" icon="delete" label="Delete" raisedButton
      on-click={{delete}} disabled="{{ajaxInProgress}}">
    </paper-button>

    <template if={{!ajaxInProgress}}>
      <template if={{!ajaxSuccess}}>
        <br>
        <error-display text={{ajaxErrTxt}}></error-display>
      </template>
    </template>
  </template>

  <script src="schedule-editor.js"></script>
</polymer-element>
